.alert-enter {
    opacity: 0;
}
.alert-enter-active {
    opacity: 1;
    transition: opacity 750ms ease-out;
}
.alert-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
}

.note-exit-active {
    animation: note 800ms ease-out forwards;
}
.note-enter-active {
    animation: note 800ms ease-in alternate-reverse;
}

@keyframes note {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    30% {
        opacity: .7;
        transform: translateX(30px);
    }
    100% {
        opacity: 0;
        transform: translateX(-1200px);
    }
}